.van-tabs__nav--card .van-tab{
    border: none;
}

.van-tabs__nav--card .van-tab{
    color: #ee0a24;
    line-height: 28px;
    border-right: none;
}

.van-tabs__nav--card .van-tab.van-tab--active{
    
}

.van-tab.van-tab--active{
background-color: #007FFF;
}